* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
}

h1 {
  color: black;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.underline {
  width: 3rem;
  height: 3px;
  background-color: midnightblue;
  margin-bottom: 3rem;
}

/* nav */
.menu-toggle::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  background-color: #fff;
  transform: translateY(-8px);
  transition: 0.2s;
}

.menu-toggle::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  background-color: #fff;
  transform: translateY(8px);
  transition: 0.2s;
}

.menu-toggle.active::before {
  transform: translateY(0px) rotate(45deg);
}

.menu-toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}